@import "tailwindcss";

@theme {
  --font-sans: var(--font-jakarta), ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-jakarta), ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .animar-entrada {
    animation: deslizarEsquerda 1s ease-out forwards;
    opacity: 0;
  }
}

@keyframes deslizarEsquerda {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}